/*flex-direction: Specify if element will be inline or column. 
Properties accept: row, row-reverse, column and column-reverse*/

/*display: flex:; Start the property flexbox and doing your children if behave how a block*/

/**Flex-wrap: Specify if element will have breakline. Properties: wrap, no-wrap and wrap-reverse*/

/*Justify-content: Position horizontal of the elements within of the parent's content. 
Properties: flex-start, flex-end, space-around and space-between*/

/*align-items: Position vertical of the elements within of the parent's content. 
Properties: flex-start, flex-end, center, strech and baseline*/

/*your-class or id:nth-child* reference the element*/

*{
	margin:0;
	padding: 0;
}

#content{
	display: flex;
	background-color: #e7eef5;
	height: 500px;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.item{
	flex-grow:0; /*Occupies the rest of the width of the div*/
	flex-shrink: 1; /*Shrink(encolhe) our div*/
	flex-basis: 65px; /*Define the width of the element if it don't have a width*/
	height: 100px;
	width:250px;
	color:black;
	-webkit-box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.24); /*Do object works on Google Chrome*/
	background-color: white;
	margin: 5px;
}

.item:nth-child(1){

	flex-grow: 1;
}



